//top-plan
@use '../util/index' as *;

.plan__inner {
  padding: 80px;
  @include sp {
    padding: 64px 20px;
  }
}

.plan__tabList {
  display : flex;
  justify-content: space-between;
  margin: 0 auto 40px;
}
.plan__tabItem {
  width: 30.4%;
  padding: 8px;
  text-align: center;
  color: $gray;
  border-bottom: 1px solid $gray;
  transition: color .3s ease-in-out , border-bottom .3s ease-in-out;
}
.plan__tabItem:hover,
.plan__tabItem.is-active {
  color: $mainColor;
  border-bottom: 1px solid $subColor;
}
.plan__tabLink {
  display: block;
  width: 100%;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.75;
  @include sp {
    font-size: 1.4rem;
  }
}

.plan__block {
  width: 100%;
  max-width: 640px;
  height: 0;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: opacity .3s ease, height .3s ease;
}
.plan__block.is-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}


.plan__imageWrap > img {
  width: 100%;
  height: auto;
}
.plan__textWrap {
  margin-top: 40px;
}
.plan__deschead {
  padding-bottom: 8px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.75;
  color: $mainColor;
  text-align: center;
  border-bottom: 1px solid $mainColor;
}
.plan__descWrap {
  font-family: 'Noto Sans JP', sans-serif;
}
.plan__desc {
  margin-top: 10px;
  line-height: 1.75;
}
.plan__btnWrap {
  margin-top: 40px;
  text-align: center;
}
.plan__btn {
  display: inline-block;
  padding: 16px 0;
  width: 100%;
  max-width: 360px;
  font-size: 2rem;
  line-height: 1.5;
  color: #fff;
  background-color: $mainColor;
}