//footer
@use '../util/index' as *;

.footer__inner {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 40px 80px;
}

.fotter__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 1px solid $gray;
}

.footer__logo {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.75;
}

.footer__navLink {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.75;
}

.footer__navList {
  display: flex;
  gap: 40px;
}
.footer__copyright {
  margin: 24px auto 40px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: center;
}