//header
@use '../util/index' as *;

.header--sp {
  display: none;
}

.header {
  width: 100%;
  max-width: 200px;
  @include sp {
    max-width: none;
  }
}
.header__inner {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding-top: 40px;
}
.header__logo {
  position: relative;
  margin-bottom: 24px;
  padding-bottom: 24px;
  font-size: 2.4rem;
  font-weight: bold;
  transition: opacity .3s ease;
}
.header__logo span {
  font-size: 2rem;
}
.header__logo::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: $gray;
}

.header__nav {
  width: 100%;
}
.header__nav--sp {
  display: none;
}

.header__navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}
.header__navListItem {
  width: 100%;
  text-align: center;
}

.header__navLink {
  display: block;
  width: 100%;
  font-weight: bold;
  line-height: 1.75;
}
.header__navLink--contact {
  padding: 8px 16px;
  color: #fff;
  background-color: $mainColor;
}

.header__snsList {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;
  align-items: center;
}
.header__snsListItem {
  width: 40px;
  height: 40px;
}
.header__snsLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: $mainColor;
}
.header__snsLink--instagram {
  font-size: 3.3rem;
}
.header__snsLink--facebook {
  font-size: 3rem;
}

@include sp {
  .header--pc {
    display: none;
  }
  .header__nav--sp {
    display: block;
  }

  .header--sp {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content : space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
    background-color: #fff;
  }
  .header__inner--sp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .header__spMenuBtn {
    position: relative;
    display: block;
    width: 35px;
    height: 24px;
  }
  .header__spMenuBtn > span {
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $black;
    transition: all .3s ease;
  }
  .header__spMenuBtn > span:nth-child(1) {
    top: 0;
    left: 0;
  }
  .header__spMenuBtn > span:nth-child(2) {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .header__spMenuBtn > span:nth-child(3) {
    bottom: 0;
    left: 0;
  }


  .header__spLogo {
    display: block;
    font-size: 2.4rem;
    font-weight: bold;
    transition: opacity .3s ease;
  }
  .header__spLogo span {
    font-size: 2rem;
  }

  .header__nav--sp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: #fff;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
  }
  .header__nav--sp.is-open {
    opacity: 1;
    visibility: visible;
  }
  .header__navList {
    width: 100%;
    max-width: 292px;
  }
  .header__snsList {
    margin-top: 0;
  }

  .header.panelActive {

    .header__spMenuBtn > span:nth-child(1) {
      transform: rotate(45deg);
      top: 50%;
    }
    .header__spMenuBtn > span:nth-child(2) {
      opacity: 0;
    }
    .header__spMenuBtn > span:nth-child(3) {
      transform: rotate(-45deg);
      top: 50%;
    }

    .header__spLogo {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    .header__nav--sp {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
}