@charset "UTF-8";
@use '../util/index' as *;

//  * {
//   outline: 2px red solid;
//   }


/* base
============================= */
/* googleFonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');


/* fontSize */
html {
  font-size: 62.5%;
}

body {
  //layout
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  //font
  font-family: "Zen Old Mincho", "Noto Sans JP", "Open Sans", "Hiragino Sanas", "Hiragino Kaku Gothic ProN", "Yu Gothic", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: 1.6rem;
  color: $black;
  //other
  background-color: #fff;
  box-sizing: border-box;
  transition: all .3s ease;
  overflow-x: hidden;
}
.noScroll {
  overflow: hidden;
}

a:hover {
  // opacity: .6;
  // transition: opacity .5s ease-in-out;
  cursor: pointer;
}

@include sp {
  .pc-only {
    display: none;
  }
}


/* 2columns */
.header-mainArea-wrapper {
  display: flex;
  @include sp {
    flex-direction: column;
  }
}

main {
  flex: 1;
}

.mainArea {
  width: calc(100% - 200px);
  @include sp {
    width: 100%;
  }
}